<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    {% block head %}{% endblock %}
</head>
<body>
    <!-- <div class="navbar">
        <a href="/">Home</a>
        <a href="/history">History</a>
        <a href="/about">About</a>
        <a href="/login">Login</a>
        <a href="/signup">Sign up</a>
    </div> -->
    <div class="topnav">
        <a class="active" href="#home">Home</a>
        <a href="#history">History</a>
        <a href="#contact">Contact</a>
        <a href="#about">About</a>
      </div>
    {% block body %}{% endblock %}
</body>
</html> 